<template name="footer">
  <div class="container">
    <footer class="footer text-center" style="background-color:#333; box-shadow: 0px 0px 7px #888888;border-radius:6px;">
    	<hr class="featurette-divider" style="margin-top: 10px;">
      <p>
        Put together using <a class="muted" href="http://www.meteor.com" target="_blank" rel="author">Meteor</a> and <a class="muted" href="http://twitter.github.com/bootstrap/" target="_blank" rel="external">Twitter Bootstrap
      </p>
    	<hr class="featurette-divider">
    </footer>
  </div>
</template>