body {
  background: #fff;
  color: #666666;
}
hr {
  border-top: 1px solid rgba(0, 0, 0, 0.0);
  border-bottom: 1px solid rgba(0, 0, 0, 0.0);
}
.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 25px;
  background: #333333;
  background: rgba(0, 0, 0, 0.5);
}

.carousel-control {
  padding-bottom:2px;
  padding-right: 2px;
  padding-left: 2px;
}

.navbar-inner {
  background-color:#fff !important;
  background-image: none !important;
}

.navbar-inner {
  box-shadow: none !important;
  border: none !important;
}

.footer {
  background-color:#fff;
  border-radius:6px;
}

.nav li > a:hover {
  color:#ccc !important;
}