<template name="carousel">
<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" style="margin-bottom: 0px;">
      <div class="carousel-inner" style="box-shadow: 0px 0px 7px #888888;">
        <div class="item active" style="border: 10px solid #FFF;">
          <img src="/img/img1.jpg" style="height:515px;" alt="">
          <div class="container">
            <div class="carousel-caption">
              <!-- <h1>Mind.</h1> -->
              <p class="lead"><a href="http://civet.berkeley.edu/cohen/members.html">Physics PhD student</a> at UC Berkeley. <a href="http://exabyte.io">Techie.</a></p>
              </br>
              <p class="lead">I use <a href="http://www.quantum-espresso.org/">quantum mechanics</a> and <a href="http://nersc.gov/"> supercomputers </a> to study materials.</p>
            </div>
          </div>
        </div>
        <div class="item"  style="border: 10px solid #FFF;">
          <img src="/img/img2.jpg" style="height:515px;" alt="">
          <div class="container">
            <div class="carousel-caption">
              <!-- <h1>Soul.</h1> -->
              <p class="lead">A native of <a href="http://en.wikipedia.org/wiki/Kazan">Kazan</a>, <a href="http://en.wikipedia.org/wiki/Rustam_Minnikhanov">Tatarstan </a>, Russia. </p>
              </br>
              <p class="lead">Came to US for grad school: <a href="http://en.wikipedia.org/wiki/Oski">Oski Bear</a> since 2008.</p>
            </div>
          </div>
        </div>
        <div class="item" style="border: 10px solid #FFF;">
          <img src="/img/img3.jpg" style="height:515px;" alt="">
          <div class="container">
            <div class="carousel-caption">
              <!-- <h1>Body.</h1> -->
              <p class="lead">Your future <a href="http://lonesomegiant.com">friend</a>, colleague or partner.</p>
              </br>
              <p class="lead">Please Login/Signup to see my email and more. Social links listed above.</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
    <div class="container text-center" id="email">
      {{#if loggedIn}}
        <h3>Contact info: </h3>
            <p> 
            email: <emph class="alert">timur@bazhirov.com</emph><br>
            phone: <emph class="alert">510.473.7770</emph>
            </br>
            </p>
        <h3>CV:</h3>
            <p>
              <a class="alert" href="https://dl.dropboxusercontent.com/s/2zrgc5sdj2nbc57/TimurBazhirov_CV.pdf">TimurBazhirov_CV.pdf</a> 
            </p>
      {{/if}}
    </div>
</template>
