<template name="carousel">
<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" style="margin-bottom: 0px;box-shadow: 0px 0px 1px #888888; max-height:515px; padding:1px;">
      <div class="carousel-inner">
        <div class="item active">
          <img src="/img/img1.jpg">
          <div class="container">
            <div class="carousel-caption">
              <p class="lead">Founder, <a href="http://exabyte.io">Exabyte.io.</a> UC Berkeley <a href="http://civet.berkeley.edu/cohen/members.html">PhD in Physics</a>.</p>
              </br>
              <p class="lead">Use <a href="http://www.quantum-espresso.org/">Quantum Mechanics</a> and <a href="http://nersc.gov/"> Supercomputing </a> to make new materials.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/img/img2.jpg">
          <div class="container">
            <div class="carousel-caption">
              <p class="lead">A native of <a href="http://en.wikipedia.org/wiki/Kazan">Kazan</a>, <a href="http://en.wikipedia.org/wiki/Rustam_Minnikhanov">Tatarstan </a>, Russia. </p>
              </br>
              <p class="lead">San Francisco Bay Area resident since 2008.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/img/img3.jpg">
          <div class="container">
            <div class="carousel-caption">
              <p class="lead">Your future friend</a>, colleague or partner.</p>
              </br>
              <p class="lead">Reach out using one of links above.</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
</template>
