<template name="carousel">
<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="/img/img1.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Mind.</h1>
              <p class="lead"><a href="http://civet.berkeley.edu/cohen/members.html">Physics PhD student</a> at UC Berkeley. <a href="http://guidedarea.com" >Techie.</a></p>
              </br>
              <p class="lead">I use <a href="http://www.quantum-espresso.org/">quantum mechanics</a> and <a href="http://nersc.gov/"> supercomputers </a> to study materials.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/img/img2.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Soul.</h1>
              <p class="lead">A native of <a href="http://en.wikipedia.org/wiki/Kazan">Kazan</a>, <a href="http://en.wikipedia.org/wiki/Rustam_Minnikhanov">Tatarstan </a>, Russia. </p>
              </br>
              <p class="lead">I came to US for grad school: <a href="http://en.wikipedia.org/wiki/Oski">Oski Bear</a> since 2008.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/img/img3.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Body.</h1>
              <p class="lead">Your future <a href="http://lonesomegiant.com">friend</a>, colleague or partner.</p>
              </br>
              <p class="lead">Please Login/Signup to see my email and more. Social links listed above.</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
    <div class="container text-center" id="email">
      {{#if loggedIn}}
        <hr class="featurette-divider">
        <h1>You can reach me at: </h1>
            <p> 
            email: <emph class="alert">timur@bazhirov.com</emph>
            phone: <emph class="alert">510.473.7770</emph>
            </br>
            </p>
        <h1>Here's my CV:</h1>
            <p><a class="alert" href="https://www.dropbox.com/s/uizp8wvrmr7ggxa/TimurBazhirov_CV.pdf">TimurBazhirov_CV.pdf</a> </p>
      {{/if}}
    </div>
</template>